.page-header{
    height: 80px;
    border-bottom: 1px solid #ECECEC;;
 
 }
 .container_header-container{
    display: flex;
    align-items: center;
    
 }

 .header-nav-container{
    display: flex;
    align-items: center;
 }
 .header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
 }
 